{# templates/lucky/number.html.twig #}

{% extends "base.html.twig" %}

{% block body %}

<h1>Bonjour Agent Morgane...</h1>
<h1>Il vous faudra taper le bon code ci-dessous :</h1>

<label for="code">Code :</label>

<input type="text" id="code" name="code" required
       minlength="6" maxlength="6" size="10">


{% endblock %}
