{# templates/lucky/number.html.twig #}

{% extends "base.html.twig" %}

{% block body %}

<h1>Voici votre Rendez-Vous : </h1>
<img scr="images/qrcode.png" class="img-rounded" width="500" />


<div class="text-center">
  <img  src="{{ asset('images/qrcode.png') }}" class="image" alt="toto" style="height:500px">
</div>

<h1>Mot de passe attendu</h1>
<h1>"AHEM, AHEM, JE VIENS CHERCHER QUELQUE CHOSE" </h1>

{% endblock %}
